/* style.css */
.progress-bar .track {
    -fx-background-color: lightgray; /* Background of the progress bar */
}

.progress-bar .bar {
    -fx-background-color: linear-gradient(to right, #003577,#005eff ); /* Gradient effect */
    -fx-effect: dropshadow(gaussian, rgb(0, 198, 255), 10, 0.5, 0, 0); /* Glow effect */
}
